

<!-- <input type="button" value="כל המשתמשים" (click)="allUsers()"/> -->




<nav class="navbar navbar-expand-sm bg-dark navbar-dark appNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="login">התחבר</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">משתמש חדש</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="allRecipes">כל המתכונים</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="addRecipe">הוספת מתכון </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="logOut">יציאה </a>
      </li>
    </ul>
  </nav>


  <router-outlet></router-outlet>

<!--   
  <app-temp></app-temp> -->

<!-- <div>
    <a routerLink="login">התחבר</a>
</div>
<div>
    <a routerLink="register">משתמש חדש</a>
</div>
<div>
    <a routerLink="allRecipes">כל המתכונים</a>
</div>
<div>
    <a routerLink="addRecipe">הוספת מתכון </a>
</div> -->
