<div class="imgDetails">
<img src="{{myRecipe.ImgRoute}}" class="smallImg" (click)="view(myRecipe.IdRp)"/>
<div><b>{{myRecipe.NameRp}}</b></div>
<div>{{myRecipe.PreparationTime}} דקות</div>
<div> דרגת קושי: {{myRecipe.LevelOfDifficulty}}</div>
</div>



<!--  -->
<!-- <h2>Fade in Overlay</h2>
<p>Hover over the image to see the effect.</p> -->

<!-- <div class="container">
  <img src="{{myRecipe.ImgRoute}}" class="smallImg" (click)="view(myRecipe.IdRp)" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">{{myRecipe.NameRp}}</div>
  </div>
</div> -->